USE [master]
GO
/****** Object:  Database [Car_service]    Script Date: 05.05.2025 19:42:27 ******/
CREATE DATABASE [Car_service]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Car_service', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Car_service.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Car_service_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Car_service_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Car_service].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Car_service]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 05.05.2025 19:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](120) NOT NULL,
	[Phone] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Adress] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK__Customer__A4AE64B8EE827B9E] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 05.05.2025 19:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](120) NOT NULL,
	[Position] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Login] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
 CONSTRAINT [PK__Employee__7AD04FF1A99F54DE] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 05.05.2025 19:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[FeedbackID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[Feedback] [nvarchar](300) NOT NULL,
 CONSTRAINT [PK__Feedback__6A4BEDF68AF92F83] PRIMARY KEY CLUSTERED 
(
	[FeedbackID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inventory]    Script Date: 05.05.2025 19:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventory](
	[InventoryID] [int] IDENTITY(1,1) NOT NULL,
	[Adress] [nvarchar](100) NOT NULL,
	[InventoryName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__Inventor__F5FDE6D35212DD3E] PRIMARY KEY CLUSTERED 
(
	[InventoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 05.05.2025 19:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[VehicleID] [int] NOT NULL,
	[DateOrder] [datetime] NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[Problem] [text] NOT NULL,
 CONSTRAINT [PK__Orders__C3905BAFCE2ABF44] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Parts]    Script Date: 05.05.2025 19:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parts](
	[PartID] [int] IDENTITY(1,1) NOT NULL,
	[InventoryID] [int] NOT NULL,
	[PartName] [nvarchar](50) NOT NULL,
	[Price] [decimal](18, 0) NOT NULL,
	[Picture] [nvarchar](255) NULL,
 CONSTRAINT [PK__Parts__7C3F0D30B3436C0B] PRIMARY KEY CLUSTERED 
(
	[PartID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 05.05.2025 19:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[WorkID] [int] NOT NULL,
	[OrderID] [int] NOT NULL,
	[Amount] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK__Payments__9B556A58EA16D88D] PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Services]    Script Date: 05.05.2025 19:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services](
	[ServiceID] [int] IDENTITY(1,1) NOT NULL,
	[ServiceName] [nvarchar](50) NOT NULL,
	[Description] [text] NOT NULL,
	[Price] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK__Services__C51BB0EAC967ED38] PRIMARY KEY CLUSTERED 
(
	[ServiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehicles]    Script Date: 05.05.2025 19:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehicles](
	[VehicleID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[Make] [nvarchar](50) NOT NULL,
	[Model] [nvarchar](50) NOT NULL,
	[Year] [int] NOT NULL,
	[VIN] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__Vehicles__476B54B2B08CD35E] PRIMARY KEY CLUSTERED 
(
	[VehicleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Work]    Script Date: 05.05.2025 19:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Work](
	[WorkID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[EmployeeID] [int] NOT NULL,
	[ServiceID] [int] NOT NULL,
	[PartID] [int] NOT NULL,
	[InventoryID] [int] NOT NULL,
 CONSTRAINT [PK__Work__2DE6D215C2F46A6D] PRIMARY KEY CLUSTERED 
(
	[WorkID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([CustomerID], [FullName], [Phone], [Email], [Adress]) VALUES (1, N'Иван Шушкин', N'+79001234567', N'ivanov@example.com', N'Москва, ул. Пушкина, д. 1')
INSERT [dbo].[Customers] ([CustomerID], [FullName], [Phone], [Email], [Adress]) VALUES (2, N'Петр Иванов', N'+79007654321', N'petrov@example.com', N'Москва, ул. Лермонтова, д. 2')
INSERT [dbo].[Customers] ([CustomerID], [FullName], [Phone], [Email], [Adress]) VALUES (3, N'Светлана Черничкина', N'+79009876543', N'sidorova@example.com', N'Москва, ул. Невский пр., д. 3')
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([EmployeeID], [FullName], [Position], [Phone], [Email], [Login], [Password]) VALUES (1, N'Анна Ватаманюк', N'Администратор', N'+79527241421', N'ann8654154186@gmail.com', N'admin', N'DE95112EA39BF27FC1A7D59A878D60EC1A245BAD')
INSERT [dbo].[Employees] ([EmployeeID], [FullName], [Position], [Phone], [Email], [Login], [Password]) VALUES (2, N'Александр Горностаев', N'Механик', N'89001234567', N'mechanic1@example.com', N'', N'')
INSERT [dbo].[Employees] ([EmployeeID], [FullName], [Position], [Phone], [Email], [Login], [Password]) VALUES (3, N'Николай Супин', N'Менеджер по продажам', N'89007654321', N'sales_manager@example.com', N'', N'')
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
SET IDENTITY_INSERT [dbo].[Feedback] ON 

INSERT [dbo].[Feedback] ([FeedbackID], [CustomerID], [Feedback]) VALUES (1, 1, N'Отличный сервис! Рекомендую!')
INSERT [dbo].[Feedback] ([FeedbackID], [CustomerID], [Feedback]) VALUES (2, 2, N'Хорошая работа! Все сделали быстро!')
INSERT [dbo].[Feedback] ([FeedbackID], [CustomerID], [Feedback]) VALUES (3, 3, N'Вежливый персонал и качественный ремонт.')
SET IDENTITY_INSERT [dbo].[Feedback] OFF
GO
SET IDENTITY_INSERT [dbo].[Inventory] ON 

INSERT [dbo].[Inventory] ([InventoryID], [Adress], [InventoryName]) VALUES (1, N'Москва, ул. Ленина, д. 1', N'Запасные части для автомобилей')
INSERT [dbo].[Inventory] ([InventoryID], [Adress], [InventoryName]) VALUES (2, N'Санкт-Петербург, пр. Невский, д. 2', N'Автохимия и аксессуары')
INSERT [dbo].[Inventory] ([InventoryID], [Adress], [InventoryName]) VALUES (3, N'Екатеринбург, ул. Мира, д. 3', N'Шины и диски')
SET IDENTITY_INSERT [dbo].[Inventory] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderID], [CustomerID], [VehicleID], [DateOrder], [Status], [Problem]) VALUES (1, 1, 1, CAST(N'2025-01-15T00:00:00.000' AS DateTime), N'Выполнен', N'Стучит двигатель')
INSERT [dbo].[Orders] ([OrderID], [CustomerID], [VehicleID], [DateOrder], [Status], [Problem]) VALUES (2, 2, 2, CAST(N'2025-01-24T00:00:00.000' AS DateTime), N'Выполнен', N'Не работают тормоза')
INSERT [dbo].[Orders] ([OrderID], [CustomerID], [VehicleID], [DateOrder], [Status], [Problem]) VALUES (3, 3, 3, CAST(N'2025-01-20T00:00:00.000' AS DateTime), N'В процессе', N'Проблемы с трансмиссией')
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Parts] ON 

INSERT [dbo].[Parts] ([PartID], [InventoryID], [PartName], [Price], [Picture]) VALUES (1, 1, N'Масло моторное', CAST(1000 AS Decimal(18, 0)), N'https://vchemraznica.ru/wp-content/uploads/2016/10/mootor.jpg')
INSERT [dbo].[Parts] ([PartID], [InventoryID], [PartName], [Price], [Picture]) VALUES (2, 1, N'Фильтр масляный', CAST(2500 AS Decimal(18, 0)), N'https://avatars.mds.yandex.net/i?id=f89b1ed26c28fe0a742e2889932094d553f06592-10869598-images-thumbs&n=13')
INSERT [dbo].[Parts] ([PartID], [InventoryID], [PartName], [Price], [Picture]) VALUES (3, 2, N'Очиститель для двигателя', CAST(1200 AS Decimal(18, 0)), N'https://pumi.by/wp-content/uploads/2023/09/avko-engine.jpg')
SET IDENTITY_INSERT [dbo].[Parts] OFF
GO
SET IDENTITY_INSERT [dbo].[Payments] ON 

INSERT [dbo].[Payments] ([PaymentID], [CustomerID], [WorkID], [OrderID], [Amount]) VALUES (4, 1, 1, 2, CAST(1500 AS Decimal(18, 0)))
INSERT [dbo].[Payments] ([PaymentID], [CustomerID], [WorkID], [OrderID], [Amount]) VALUES (5, 2, 2, 4, CAST(2000 AS Decimal(18, 0)))
INSERT [dbo].[Payments] ([PaymentID], [CustomerID], [WorkID], [OrderID], [Amount]) VALUES (6, 3, 3, 7, CAST(1800 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[Payments] OFF
GO
SET IDENTITY_INSERT [dbo].[Services] ON 

INSERT [dbo].[Services] ([ServiceID], [ServiceName], [Description], [Price]) VALUES (1, N'Замена масла', N'Полная замена масла в двигателе', CAST(2000 AS Decimal(18, 0)))
INSERT [dbo].[Services] ([ServiceID], [ServiceName], [Description], [Price]) VALUES (2, N'Ремонт тормозов', N'Замена тормозных колодок и дисков', CAST(5000 AS Decimal(18, 0)))
INSERT [dbo].[Services] ([ServiceID], [ServiceName], [Description], [Price]) VALUES (3, N'Диагностика двигателя', N'Компьютерная диагностика двигателя', CAST(1500 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[Services] OFF
GO
SET IDENTITY_INSERT [dbo].[Vehicles] ON 

INSERT [dbo].[Vehicles] ([VehicleID], [CustomerID], [Make], [Model], [Year], [VIN]) VALUES (1, 1, N'Toyota', N'Camry', 2020, N'JT123456789012345')
INSERT [dbo].[Vehicles] ([VehicleID], [CustomerID], [Make], [Model], [Year], [VIN]) VALUES (2, 2, N'Honda', N'Civic', 2019, N'JHM12345678901234')
INSERT [dbo].[Vehicles] ([VehicleID], [CustomerID], [Make], [Model], [Year], [VIN]) VALUES (3, 3, N'Ford', N'Focus', 2021, N'1FADP3F29JL123456')
SET IDENTITY_INSERT [dbo].[Vehicles] OFF
GO
SET IDENTITY_INSERT [dbo].[Work] ON 

INSERT [dbo].[Work] ([WorkID], [OrderID], [EmployeeID], [ServiceID], [PartID], [InventoryID]) VALUES (4, 1, 1, 6, 2, 2)
INSERT [dbo].[Work] ([WorkID], [OrderID], [EmployeeID], [ServiceID], [PartID], [InventoryID]) VALUES (5, 2, 2, 7, 6, 6)
INSERT [dbo].[Work] ([WorkID], [OrderID], [EmployeeID], [ServiceID], [PartID], [InventoryID]) VALUES (6, 3, 3, 8, 5, 4)
SET IDENTITY_INSERT [dbo].[Work] OFF
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF__Orders__DateOrde__403A8C7D]  DEFAULT (getdate()) FOR [DateOrder]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK__Feedback__Custom__5535A963] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FK__Feedback__Custom__5535A963]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Customers] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Customers]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Vehicles] FOREIGN KEY([VehicleID])
REFERENCES [dbo].[Vehicles] ([VehicleID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Vehicles]
GO
ALTER TABLE [dbo].[Parts]  WITH CHECK ADD  CONSTRAINT [FK__Parts__Inventory__47DBAE45] FOREIGN KEY([InventoryID])
REFERENCES [dbo].[Inventory] ([InventoryID])
GO
ALTER TABLE [dbo].[Parts] CHECK CONSTRAINT [FK__Parts__Inventory__47DBAE45]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Customers] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Customers]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Orders] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Orders]
GO
ALTER TABLE [dbo].[Vehicles]  WITH CHECK ADD  CONSTRAINT [FK__Vehicles__Custom__398D8EEE] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[Vehicles] CHECK CONSTRAINT [FK__Vehicles__Custom__398D8EEE]
GO
ALTER TABLE [dbo].[Work]  WITH CHECK ADD  CONSTRAINT [FK__Work__EmployeeID__4BAC3F29] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[Work] CHECK CONSTRAINT [FK__Work__EmployeeID__4BAC3F29]
GO
ALTER TABLE [dbo].[Work]  WITH CHECK ADD  CONSTRAINT [FK__Work__OrderID__4AB81AF0] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[Work] CHECK CONSTRAINT [FK__Work__OrderID__4AB81AF0]
GO
ALTER TABLE [dbo].[Work]  WITH CHECK ADD  CONSTRAINT [FK__Work__PartID__4D94879B] FOREIGN KEY([PartID])
REFERENCES [dbo].[Parts] ([PartID])
GO
ALTER TABLE [dbo].[Work] CHECK CONSTRAINT [FK__Work__PartID__4D94879B]
GO
ALTER TABLE [dbo].[Work]  WITH CHECK ADD  CONSTRAINT [FK__Work__ServiceID__4CA06362] FOREIGN KEY([ServiceID])
REFERENCES [dbo].[Services] ([ServiceID])
GO
ALTER TABLE [dbo].[Work] CHECK CONSTRAINT [FK__Work__ServiceID__4CA06362]
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD  CONSTRAINT [phone_format] CHECK  (([Phone] like '%[0-9]%'))
GO
ALTER TABLE [dbo].[Customers] CHECK CONSTRAINT [phone_format]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [CK__Orders__Status__412EB0B6] CHECK  (([Status]='Выполнен' OR [Status]='В процессе'))
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [CK__Orders__Status__412EB0B6]
GO
USE [master]
GO
